/* defaults */
body {
  font-family: 'Lato', sans-serif;
  color: #747704;
  font-weight: 300;
}

.text-muted {
  color: #BCBBBB;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 60px;
}

.title-logo {
  margin-top: 20px;
}

.modal-link {
  cursor: pointer;
}

/*
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

p, div {
  font-family: 'Lato', sans-serif;
}

*/